<h2>Brakes!</h2>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Submodel</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  <%= button_to 'Get Categories!', '/gather_brake_category', method: :get %>

    <% @categories.each do |category| %>
      <tr>
        <td><%= category.year %></td>
        <td><%= category.make %></td>
        <td><%= category.model %></td>
        <td><%= category.submodel %></td>
        <td><%= link_to "Fetch products", brake_products_brake_path(category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <h4> Total Products: <%= @categories.size %></h4>


