<h2>Brakes!</h2>

<table>
  <thead>
    <tr>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Submodel</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

  <%= button_to 'Get Brake Data!', '/gather_brake_data', method: :get %>

    <% @products.each do |brake| %>
      <tr>
        <td><%= brake.year %></td>
        <td><%= brake.make %></td>
        <td><%= brake.model %></td>
        <td><%= brake.submodel %></td>
        <td><%= link_to "Fetch products", brake_products_brake_path(brake) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

 <h4> Total Products: <%= @products.size %></h4>


